@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* header */

.material-icons {
  color: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar-bar {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  position: fixed;
  z-index: 997;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  background-color: #202020;
  color: #fff;
  border-right: 1px solid #202020;
}

.header-center {
  display: flex;
  align-items: center;
  color: #fff;

}

.header-center-buttons {
  margin: 0;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-center-button {
  margin-left: 1%;
  margin-right: 1%;
}

.header-center-button {
  outline: none;
  padding: 10px 24px;
  border-radius: 30px;
  width: 100%;
  background-color: transparent;
  color: #fff;
  font-weight: 500;
  border: 0.5px solid #ccc;
  text-transform: capitalize;
  cursor: pointer;
}

.header-center-buttons .active {
  background-color: #fff;
  color: #181818;
}

.header-center-buttons::-webkit-scrollbar {
  display: none;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left img {
  width: 80px;
  margin-left: 15px;
}

.header i {
  padding: 6px 7px;
  cursor: pointer;
}

.header__search .form {
  border: 1px solid #000;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
  background-color: #181818;
  color: #fff;
  outline: none;
}

.header__search .bi-arrow-right {
  display: none;
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: #2f2f2f;
  color: #fff;
  outline: none;
}

/* Sidebar */
.mainBody {
  height: 100vh;
  display: flex;
  overflow: auto;
  padding-top: 68px;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: #202020;
  color: #fff;
  overflow-y: scroll;
  border-right: 1px solid #202020;
  margin: 0;
  padding: 0;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
  color: #fff;
}

.sidebar__category:hover {
  background: #353535;
  cursor: pointer;
  color: #fff;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: #000;
  border: none;
}

/* videos */

.videos {
  background-color: #181818;
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  border-top: 1px solid #000;
  overflow-y: scroll;
  color: #fff;
}

.videos::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.videos::-webkit-scrollbar-track {
  border-radius: 15px;
}

/* Handle */
.videos::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  border-radius: 15px;
}

.videos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.video {
  width: 310px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 40px;
}

.video__thumbnail {
  width: 100%;
  height: 170px;
  cursor: pointer;
}

.video__thumbnail img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.author img {
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.video__details {
  display: flex;
  margin-top: 10px;
}

.title {
  display: flex;
  flex-direction: column;
}

.title h3 {
  color: #fff;
  line-height: 15px;
  font-size: 12px;
  margin-bottom: 6px;
}

.title a,
span {
  text-decoration: none;
  color: rgb(119, 119, 119);
  font-size: 12px;
}

@media (max-width: 1025px) {
  .header-center-buttons {
    overflow-x: scroll;
    min-width: auto;
    margin-left: 4%;
  }

  .header-center-button+.header-center-button {
    margin-right: 3%;
  }
}

@media (max-width: 941px) {
  .header__search input {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: block;
    position: fixed;
    top: 4.4rem;
    height: auto;
    z-index: 99;
  }
}

@media (max-width:690px) {
  .header__search input {
    width: 240px;
  }

  .videocam {
    display: none;
  }

  .apps {
    display: none;
  }

}

@media screen and (max-width:561px) {

  .header__left img {
    margin-left: 10px;
  }
}

@media screen and (max-width:527px) {

  #forms {
    position: relative;
    border: none;
  }

  .header__search input {
    display: none;
    padding: 0;
  }


  .header__search input.activeInputs {
    display: block;
    position: fixed;
    z-index: 88;
    top: 17px;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    background-color: #2f2f2f;
  }

  .form .inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__search .bi-arrow-right.activeIcons {
    position: fixed;
    z-index: 88;
    display: block;
    font-size: 28px;
    right: 0;
    top: 3%;
    color: #fff;
  }

  .button {
    position: absolute;
    left: 20%;
  }
}


@media (max-width: 425px) {
  .header__icons .display-this {
    display: inline;
  }

  .sidebar {
    display: none;
  }
}

.videoItem {
  /* opacity:0; */
  background-color: #202020;
  position: absolute;
  width: 90%;
  left: 10%;
}

.fluid_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-fluid-right {
  margin: 0;
  padding: 0;
}

.container-fluid-right-top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  max-height: 600px;
  overflow-y: scroll !important;
  padding: 20px;
}

.hide {
  opacity: 1;
  z-index: -555;
}

.player {
  padding: 12px 0px 15px 25px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 600px;
  min-width: 700px;
}

.container-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.channel-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.divs {
  display: flex;
  flex-direction: column;
}

.divss {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}